*.o
*.so*
*.output
*.swp
test-*
core
config-bison.[ch]
args-bison.[ch]
args-flex.c
config-flex.c
autoconf.h
autoconf.make
config.log
config.status
deps.make
configure
LATRACE-CFLAGS
asciidoc.conf
etc/latrace.d/latrace.conf
latrace
autom4te.cache/
